.Contacto-Img {
    background-image: url('../assets/contactoImg.png');
    background-position: center;
    background-size: cover;
    padding: 100px 20px;
}

.Contacto-Img h2 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}

.Contacto-Container {
    background: #CAD5E6;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.Contacto-Container h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #063D93;
    text-transform: uppercase;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.form-container div {
    width: 100%;
}

.form-container div label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.form-container div input,
.form-container div textarea {
    width: 100%;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15px;
    color: #B3B3B3;
    padding: 16px 20px;
    margin-top: 12px;
    resize: none;
}

.Contacto-Container a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #063D93;
    border-radius: 10px;
    border: 0;
    width: 100%;
    padding: 15px 0px;
    transition: all 0.5s;
    text-decoration: none;
}


.Contacto-Container a:hover {
    background-color: #FFFFFF;
    color: #063D93;
    border: 3px solid #063D93;
    font-weight: 900;
}
.servicios-container{
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.servicios-container p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.15px;

color: #000000;

}
@media screen and (min-width: 600px) {
    .Contacto-Img {
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .Contacto-Img {
        background-image: url('../assets/ContactoImgDesk.png');
    }
    .Contacto-Container h2 {
        font-size: 32px;
    }
    .Contacto-Img h2 {
        font-size: 34px;
    }
    .Contacto-Container {
        padding: 50px 80px;
    }
    .form-container {
        width: 100%;
    }
    .form-container div label {
        font-size: 22px;
    }
    .form-container div input,
    .form-container div textarea {
        font-size: 20px;
    }
    .Contacto-Container button {
        font-size: 24px;
    }
}

@media screen and (min-width: 1400px) {
    .Contacto-Img h2 {
        font-size: 40px;
    }
    .Contacto-Container h2 {
        font-size: 40px;
    }
    .form-container div label {
        font-size: 26px;
    }
    .form-container div input,
    .form-container div textarea {
        font-size: 24px;
    }
    .Contacto-Container button {
        font-size: 28px;
        padding: 22px 0px;
    }
}