.Footer-container {
    background: #063D93;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.Footer-container h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.Footer-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Footer-containerdiv p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
    .Footer-container div {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        gap: 100px;
    }
}

@media screen and (min-width: 1400px) {
    .Footer-container h3 {
        font-size: 30px;
    }
    .Footer-container div p {
        font-size: 20px;
    }
}