@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@300&family=Roboto&display=swap');
.Metodologias-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    gap: 20px;
}

.Metodologias-section h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    color: #063D93;
}

.Metodologias-section h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #000000;
}

.flex-metodologias {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Metodologias-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid #063D93;
    border-radius: 20px;
    padding: 0px 15px;
    gap: 15px;
}

.Metodologias-desc-container {
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Metodologias-desc-container h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #063D93;
    margin: 0px;
}

.Metodologias-desc-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0px;
}

@media screen and (min-width: 600px) {
    .Metodologias-section {
        padding: 50px 20px;
    }
    .Metodologias-container {
        padding: 0px 10px;
    }
    .flex-metodologias {
        flex-direction: row;
    }
    .Metodologias-desc-container {
        padding: 10px 6px;
    }
}

@media screen and (min-width: 1024px) {
    .Metodologias-section h2 {
        font-size: 32px;
    }
    .Metodologias-section h3 {
        font-size: 22px;
        line-height: 22px;
    }
    .Metodologias-container {
        padding: 0px 5px 0px 25px;
    }
    .Metodologias-container img {
        height: 60px;
    }
    .Metodologias-desc-container h4 {
        font-size: 20px;
    }
    .Metodologias-desc-container p {
        font-size: 15px;
        line-height: 20px;
    }
}

@media screen and (min-width: 1400px) {
    .Metodologias-section {
        padding: 100px 40px;
    }
    .Metodologias-section h2 {
        font-size: 40px;
    }
    .Metodologias-section h3 {
        font-size: 26px;
        line-height: 26px;
    }
    .Metodologias-container {
        padding: 20px 25px 20px 45px;
    }
    .Metodologias-container img {
        height: 80px;
    }
    .Metodologias-desc-container h4 {
        font-size: 24px;
    }
    .Metodologias-desc-container p {
        font-size: 20px;
        line-height: 24px;
    }
}