.Programa-Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 20px 50px 50px;
}

.Programa-Section h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #063D93;
    text-transform: uppercase;
}

.Programa-flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Programa-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.Programa-number {
    border-radius: 5px;
    rotate: 45deg;
}

#lightblue {
    background-color: #7D98C3;
}

#lightblue2 {
    background-color: #6687BA;
}

#lightblue3 {
    background-color: #4E75B1;
}

#blue {
    background-color: #3662A7;
}

#blue2 {
    background-color: #1E509D;
}

.Programa-container h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 12px 18px;
    rotate: -45deg;
}

.Programa-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

@media screen and (min-width: 600px) {
    .Programa-Section {
        padding: 50px 20px;
    }
    .Programa-flex {
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Programa-container {
        flex-direction: column;
        flex: 0 0 40%;
    }
    .Programa-container p {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .Programa-Section {
        gap: 60px;
    }
    .Programa-Section h3 {
        font-size: 32px;
    }
    .Programa-flex {
        flex-wrap: nowrap;
    }
    .Programa-container {
        flex: 0 0 16%;
    }
    .Programa-container p {
        font-size: 16px;
        line-height: 20px;
    }
    .Programa-container h4 {
        font-size: 25px;
        padding: 14px 20px;
    }
}

@media screen and (min-width: 1400px) {
    .Programa-Section {
        gap: 90px;
    }
    .Programa-Section h3 {
        font-size: 40px;
    }
    .Programa-container {
        flex: 0 0 17%;
    }
    .Programa-container p {
        font-size: 20px;
        line-height: 24px;
    }
    .Programa-container h4 {
        font-size: 30px;
        padding: 16px 22px;
    }
}